<div class="header" >
    <img  src="/assets/images/logoStepper.png" alt="LogoStepper" class="logo">
    <div style="display: flex;
    flex-direction: row;
    height: 100%;
    min-width: 160px;">
        <i class="bi bi-telephone"></i>
    
    <div>
        <p>Appel gratuit</p>
        <div class="num">+216 55 555 555</div>
    </div>
  </div>
</div>

 <div class="container" style="margin-top: 80px;">
        <div class="card shadow-lg o-hidden border-0 my-5">
            <div class="card-body p-0">
                <div class="row">
                    <div class="col-lg-5 d-none d-lg-flex">
                        <div class="flex-grow-1 bg-register-image">
                            <img src="./assets/images/why-us.png">
                        </div>
                    </div>
                    <div class="col-lg-7">
                        <div class="p-5">
                            <div class="text-center">
                                <h4 class="text-dark mb-4" style="color: #5a5c69 !important;
                                font-size: 1.5rem; 
                                font-weight: 400;
                                line-height: 1.2;">Créer un compte!</h4>
                            </div>
                            <form  class="user" [formGroup]="registerForm" (ngSubmit)="register(registerForm.value)"  >
                                <div class="form-group row">
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                <input class="form-control form-control-user"
                                 type="text" id="exampleFirstName" placeholder="Prénom" 
                                 name="" formControlName="prenom" 
                                 [ngClass]="{ 'is-invalid': f.prenom.errors }" >
                                 </div>
                                    <div class="col-sm-6">
                                    <input
                                    
                                     class="form-control form-control-user" type="text" 
                                      placeholder="Nom" name="" formControlName="nom"
                                      [ngClass]="{ 'is-invalid': f.nom.errors }" >
                                     </div>
                                </div>
                                <div class="form-group">
                            <input class="form-control form-control-user" type="email" 
                            [ngClass]="{ 'is-invalid': f.email.errors }"
                            aria-describedby="emailHelp" placeholder="Adresse Email " name="email" formControlName="email" ></div>
                                <div class="form-group row"> 
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                <input class="form-control form-control-user" 
                                type="password" id="examplePasswordInput"
                                 placeholder="Mot de passe" name="password"
                                 [ngClass]="{ 'is-invalid': f.mdp.errors }" formControlName="mdp" >
                                </div>
                                    <div class="col-sm-6">
                                        <input class="form-control form-control-user" formControlName="Confirmpassword" type="password" id="exampleRepeatPasswordInput" placeholder="Confirmer mot de passe" name="password_repeat"></div>
                                        <span *ngIf="f.Confirmpassword?.value !=f.mdp?.value" class="text-danger">
                                            Passwords does not match
                                        </span>
                                    </div>
                                <button class="btn btn-primary btn-block text-white btn-user" type="submit">Créer votre compte</button>
                                <hr>
                            </form>
                            <div class="text-center"><a class="small" routerLink="/login">
                                Vous possédez déjà un compte?  Identifiez-vous!</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
