
      <div class="card" style="width: 18rem;margin-left: 150px;margin-top: 100px;;">
        <img class="card-img-top text-center" src="/assets/images/sec.jpg" style="height:80px;width:80px;margin-left:100px;margin-top: 10%;">
        <div class="card-body">
          <p style="font-size:12px;font-weight:bold;color:#536dfe;margin-left:60px;">Secrétariat téléphonique</p>
          <p style="font-size:16px;margin-left:60px;">565656565</p>
          <p style="font-size:13px;color:#66696b;margin-left:60px;">Forfait 10 appels / mois</p>        </div>
      </div>