<div class="header" >
    <img src="/assets/images/logoStepper.png" alt="LogoStepper" class="logo">
    <div class="text-right nom">
        <i class="bi bi-person" style="color: rgb(21, 118, 225);font-size:20px;"></i>
        {{NomPrenom}}
    </div>
</div>



<div class="row">
<div class="col-3"></div>
<div class="col" style="width: 100%;
min-height: 200px;margin-top:70px;">
<h2>Bienvenue chez Cairus</h2>
<h3>Nous allons vous accompagner dans votre domiciliation</h3>
<div class="divider"></div>
<div class="Commencer">Pour commencer, quel est votre projet ?</div>
<div style="justify-content: space-between;">
<div class="btn" style="margin-right:40px;" routerLink="/Steps">
    <img src="https://i.imgur.com/dXinRSg.png" style="margin-bottom: 20px;margin-top:30px;">
    <div class="titre">Création</div>
</div>
<div class="btn" routerLink="/Steps">
    <img src="https://i.imgur.com/haDJ3eh.png" style="margin-bottom: 20px;margin-top:30px;">
    <div class="titre">Transfert de siège</div>
</div>
</div>
</div>

