<div style="height: 700px;overflow: hidden;overflow-x:hidden">

  <button class="btn btn-sm" (click)="FactDialog()">
    <mat-icon style="color: whitesmoke;font-size:18px;margin-top:8px;vertical-align: middle;">
    book
  </mat-icon>
  <span class="spann">Generer un contrat</span>
  </button>
    <div class="row" style="margin-top:10px;">
        <div class="col" style="margin-top:20px;">
           <span style="color: #495057;font-weight: 500;font-size:15px;letter-spacing:1px;">CONTRATS</span>
        </div>
        <div class="col text-right" style="margin-top:15px;">
            <form >
              <img
              class="magnifying-glass"
              src="https://i.imgur.com/lrQiTER.png"
              alt="magnifying glass image"
            /> 
              <input
                matInput
                class="search-input"
                (keyup)="applyFilter($event)"
                placeholder="Rechercher"
                #input
              >
            </form> 
          </div>
        </div>
        <div class="flexrow table-container" style="margin-left: 100px;margin-right: 107px;">
    <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
    
      <!-- Nom Column -->
      <ng-container matColumnDef="Nom">
        <th mat-header-cell *matHeaderCellDef mat-sort-header id="" class="th">Nom</th>
        <td mat-cell *matCellDef="let element" class="td-nom"> {{element.nom}} </td>
      </ng-container>
    
      <!-- Prenom Column -->
      <ng-container matColumnDef="Prenom">
        <th mat-header-cell *matHeaderCellDef mat-sort-header id="" class="th">Prénom</th>
        <td mat-cell *matCellDef="let element" class="td-prenom"> {{element.prenom}} </td>
      </ng-container>
    
      
    
      <!-- Date Column -->
      <ng-container matColumnDef="DateDeb">
        <th mat-header-cell *matHeaderCellDef mat-sort-header id="" class="th">Date Début</th>
        <td mat-cell *matCellDef="let element" class="td-Date"> {{element.date_deb}} </td>
      </ng-container>
    
      <!-- Type Column -->
      <ng-container matColumnDef="Type">
        <th mat-header-cell *matHeaderCellDef mat-sort-header id="" class="th" >catégorie</th>
        <td mat-cell *matCellDef="let element" class="td-type"> {{element.type}} </td>
      </ng-container>
      <!-- Montant Column -->
      <ng-container matColumnDef="DateFin">
          <th mat-header-cell *matHeaderCellDef mat-sort-header id="" class="th">Date fin</th>
          <td mat-cell *matCellDef="let element" class="td-Montant"> {{element.date_fin}} Dt </td>
        </ng-container>
       
      
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef id="" ></th>
        <td mat-cell *matCellDef="let element" class="td-actions">
          <button mat-icon-button class="detail-button" (click)="download(element)"><i style="color:white" class="pi pi-download download-icon"></i></button>
          <button mat-icon-button (click)="openDeleteAlert()" class="delete-button"><i class="pi pi-trash delete-icon"></i></button>
        </td>
      </ng-container>
    
    
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    
    
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">Aucun résultat trouvé "{{input.value}}"</td>
      </tr>
    </table>
    </div>