.title-popup {
    height: 33px;
    font-family: 'Roboto', sans-serif;;
    font-size: 18px;
    color: #282c2e;
}
#enregister{
    font-family: Open Sans,sans-serif;
    font-size: 13px!important;
    border-radius: 4px;
    margin-top:25px;
}

