<div class="row" style="margin-top:100px;">
  <div class="col-sm-4">
    <div class="card">
      <div class="card-body">
        <h2 class="card-title text-center ">{{test1}} </h2>
        <p class="card-text text-center" style="font-weight: bold;">100 DT</p>
        <p class="text-center">PAR Mois</p>
        <div class="text-center">
        <button  class="btn btn-primary" (click)="pack1Dialog()">Éditer</button>
      </div>
      </div>

    </div>
  </div>
  <div class="col-sm-4">
    <div class="card">
      <div class="card-body">
        <h2 class="card-title text-center ">Month Pass</h2>
        <p class="card-text text-center" style="font-weight: bold;"></p>
        <p class="text-center">PAR Mois</p>
        <div class="text-center">
          <button  class="btn btn-primary" (click)="pack2Dialog()">Éditer</button>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card">
      <div class="card-body ">
        <h2 class="card-title text-center ">Pack Etudiant</h2>
        <p class="card-text text-center" style="font-weight: bold;">300 DT</p>
        <p class="text-center">PAR Mois</p>
        <div class="text-center">
          <button  class="btn btn-primary" (click)="pack3Dialog()">Éditer</button>
        </div>
      </div>
    </div>
  </div>
</div>