
<div class='h'>
<div class="row mt-5" >

  <div class="col-6">
    <h1 style="text-align: center;">Demande de devis</h1>
    <div class="card ml-3">
        <img class="card-img-top h-50 w-75" style="margin-left: 65px;" src="/assets/images/devis.jpg" alt="devis">
        <div class="card-body">
          <p style="color:#66696b;font-family:'Roboto', sans-serif;margin-bottom: 30px;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean dignissim purus diam, sed accumsan massa semper vitae. Nam maximus, enim eget dictum accumsan, massa augue commodo velit, ac luctus diam magna vel risus. Praesent placerat neque in malesuada viverra. Phasellus est erat, eleifend ut auctor id, dapibus nec ligula. Quisque a laoreet erat, eget pulvinar eros. 
          </p>
          <button (click)="demandeDevisDialog()" class="btn btn-primary " style="margin-left:160px;">Demander un devis</button>
        </div>
    </div>
</div> 


  <div class="col-6">
    <h1 style="text-align: center;">Demande de renseignement</h1>
    <div class="card mr-3" >
        <img class="card-img-top w-50" style="margin-left: 65px;height:250px;margin-left:150px;" src="/assets/images/question.png" alt="devis">
        <div class="card-body">
          <p style="color:#66696b;font-family:'Roboto', sans-serif;margin-bottom: 30px;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean dignissim purus diam, sed accumsan massa semper vitae. Nam maximus, enim eget dictum accumsan, massa augue commodo velit, ac luctus diam magna vel risus. Praesent placerat neque in malesuada viverra. Phasellus est erat, eleifend ut auctor id, dapibus nec ligula. Quisque a laoreet erat, eget pulvinar eros. 
          </p>
          <button  (click)="demandeQuestionDialog()" class="btn btn-primary " style="margin-left:160px;">Demander une renseignement</button>
        </div>
  </div>
  </div>

</div>
</div>