
  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top ">
    <div class="container d-flex align-items-center">

      <img  style="width:200px;margin-right:100px;"src="assets/images/logo.png">
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo me-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

      <nav id="navbar" class="navbar navbar-expand-md">
        <ul>
          
          <li><a class="nav-link scrollto active" href="#hero">Accueil</a></li>
          <li class="dropdown"><a href="#"><span>Services</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href="#">Domiciliation</a></li>
              
              <li><a href="#">Créeation d'entreprise</a></li>
              <li><a href="#">Accompagnement entrepreneurial</a></li>
              <li><a href="#">Assistance comptable</a></li>
            </ul>
          </li>
          <li><a class="nav-link   scrollto" routerLink='/info'>Informations légales</a></li>
          <li><a class="nav-link scrollto" href="Contactt">Contact</a></li>
          <li><a class="getstarted scrollto" href="#about" routerLink="/Inscription">Mon Compte</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">

    <div class="container">
      <div class="row">
        <div class="col-lg-6 d-flex flex-column justify-content-center pt-4 pt-lg-0 order-2 order-lg-1" data-aos="fade-up" data-aos-delay="200">
          <h1>La domiciliation de votre 
            entreprise à Tunisie.</h1>
          <h2>L’image de votre entreprise c’est aussi l’adresse de son siège social. Domiciliez votre entreprise en 5 minutes.</h2>
          <div class="d-flex justify-content-center justify-content-lg-start">
            <a href="#about" class="btn-get-started scrollto" style="font-weight:bold;">Domicilier mon Entreprise</a>
            <a (click)="DialogHomeVid()"class="glightbox btn-watch-video"><i class="bi bi-play-circle"></i><span>Regarder la Video</span></a>
          </div>
        </div>
        <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="zoom-in" data-aos-delay="200">
          <img src="./assets/images/hero-img.png" class="img-fluid animated" alt="">
        </div>
      </div>
    </div>

  </section><!-- End Hero -->

  <main id="main">
    <!-- ======= A propos de nous Section ======= -->
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>A propos de nous</h2>
        </div>

        <div class="row content">
          <div class="col-lg-6">
            <p>
              Une solution pour les entrepreneurs, freelance et indépendants.
            </p>
            <ul>
              <li><i class="ri-check-double-line"></i> Domiciliation nouvelle génération pour vous simplifier la vie.</li>
              <li><i class="ri-check-double-line"></i> Votre Kbis en 48h</li>
              <li><i class="ri-check-double-line"></i> Une conciergerie pour entrepreneurs</li>
            </ul>
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0">
            <p>
              Plusieurs études montrent que les entrepreneurs perdent plus de 10h par semaine (American Express 2011, le Figaro 2015) sur des tâches obligatoires et non rémunératrices pour leur business : traitement du courrier papier, comptabilité, administratif et juridique...Au point d’en développer une phobie administrative

C’est dans ce contexte que Kairus a été créé, pour vous libérer de cette contrainte quotidienne et vous permettre d’entreprendre plus sereinement ! On souhaite que tous les entrepreneurs aient davantage de temps pour se consacrer au développement de leur activité et pour gagner en équilibre vie pro / vie perso.
            </p>
            <a href="#" class="btn-learn-more">Learn More</a>
          </div>
        </div>

      </div>
    </section><!-- End A propos de nous Section -->

    <!-- ======= Why Us Section ======= -->
    <section id="why-us" class="why-us section-bg">
      <div class="container-fluid" data-aos="fade-up">

        <div class="row">

          <div class="col-lg-7 d-flex flex-column justify-content-center align-items-stretch  order-2 order-lg-1">

            <div class="content">
              <h3>Domicilier votre entreprise <strong>en quelques clics</strong></h3>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Duis aute irure dolor in reprehenderit
              </p>
            </div>

            <div class="accordion-list">
              <ul>
                <li>
                  <a data-toggle="collapse" class="collapse" data-target="#accordion-list-1"><span>01</span> Non consectetur a erat nam at lectus urna duis? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                  <div id="accordion-list-1" class="collapse show" data-bs-parent=".accordion-list">
                    <p>
                      Feugiat pretium nibh ipsum consequat. Tempus iaculis urna id volutpat lacus laoreet non curabitur gravida. Venenatis lectus magna fringilla urna porttitor rhoncus dolor purus non.
                    </p>
                  </div>
                </li>

                <li>
                  <a data-toggle="collapse" data-target="#accordion-list-2" class="collapsed"><span>02</span> Feugiat scelerisque varius morbi enim nunc? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                  <div id="accordion-list-2" class="collapse" data-bs-parent=".accordion-list">
                    <p>
                      Dolor sit amet consectetur adipiscing elit pellentesque habitant morbi. Id interdum velit laoreet id donec ultrices. Fringilla phasellus faucibus scelerisque eleifend donec pretium. Est pellentesque elit ullamcorper dignissim. Mauris ultrices eros in cursus turpis massa tincidunt dui.
                    </p>
                  </div>
                </li>

                <li>
                  <a data-toggle="collapse" data-target="#accordion-list-3" class="collapsed"><span>03</span> Dolor sit amet consectetur adipiscing elit? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                  <div id="accordion-list-3" class="collapse" data-bs-parent=".accordion-list">
                    <p>
                      Eleifend mi in nulla posuere sollicitudin aliquam ultrices sagittis orci. Faucibus pulvinar elementum integer enim. Sem nulla pharetra diam sit amet nisl suscipit. Rutrum tellus pellentesque eu tincidunt. Lectus urna duis convallis convallis tellus. Urna molestie at elementum eu facilisis sed odio morbi quis
                    </p>
                  </div>
                </li>

              </ul>
            </div>

          </div>

          <div class="col-lg-5 align-items-stretch order-1 order-lg-2 img" style='background-image: url("./assets/images/why-us.png");' data-aos="zoom-in" data-aos-delay="150">&nbsp;</div>
        </div>

      </div>
    </section><!-- End Why Us Section -->

    <!-- Start Services Section-->
    <section id="features" class="section">
      <div class="container">
        <!-- Start Row -->
        <div class="row">
          <div class="col-lg-12">
            <div class="features-text section-header text-center">  
              <div>   
                <h2 class="section-titlee">Nos Services</h2>
                <div class="desc-text">
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do <br> eiusmod tempor incididunt ut labore et dolore.</p>
                </div>
              </div> 
            </div>
          </div>

        </div>
        <!-- End Row -->
        <!-- Start Row -->
        <div class="row featured-bg">
         <!-- Start Col -->
          <div class="col-lg-6 col-md-6 col-xs-12 p-0">
             <!-- Start Fetatures -->
            <div class="feature-item featured-border1">
               <div class="feature-icon float-left">
                 <i class="lni-coffee-cup"></i>
               </div>
               <div class="feature-info float-left">
                 <h4>Sans engagement</h4>
                 <p>Accordez de la liberté à votre  <br> projet !</p>
               </div>
            </div>
            <!-- End Fetatures -->
          </div>
           <!-- End Col -->
          
         <!-- Start Col -->
          <div class="col-lg-6 col-md-6 col-xs-12 p-0">
             <!-- Start Fetatures -->
            <div class="feature-item featured-border2">
               <div class="feature-icon float-left">
                 <i class="lni-briefcase"></i>
               </div>
               <div class="feature-info float-left">
                 <h4>Une longueur d’avance</h4>
                 <p>Affranchissez vous des contraintes  <br> matérielles pour avoir un maximum de<br> souplesse dans le dimensionnement de<br>votre entreprise</p>
               </div>
            </div>
            <!-- End Fetatures -->
          </div>
           <!-- End Col -->
          
         <!-- Start Col -->
          <div class="col-lg-6 col-md-6 col-xs-12 p-0">
             <!-- Start Fetatures -->
            <div class="feature-item featured-border1">
               <div class="feature-icon float-left">
                 <i class="lni-invention"></i>
               </div>
               <div class="feature-info float-left">
                 <h4>Accélérez votre croissance</h4>
                 <p>Un accompagnement entrepreneurial <br> pour accélérer votre croissance. </p>
               </div>
            </div>
            <!-- End Fetatures -->
          </div>
           <!-- End Col -->
          
         <!-- Start Col -->
          <div class="col-lg-6 col-md-6 col-xs-12 p-0">
             <!-- Start Fetatures -->
            <div class="feature-item featured-border2">
               <div class="feature-icon float-left">
                <i class="lni-layers"></i>
               </div>
               <div class="feature-info float-left">
                 <h4>Services sur mesure</h4>
                 <p>Location de salle et de bureaux,<br> standard téléphonique,<br> banque en ligne, … </p>
               </div>
            </div>
            <!-- End Fetatures -->
          </div>
           <!-- End Col -->
          
         <!-- Start Col -->
          <div class="col-lg-6 col-md-6 col-xs-12 p-0">
             <!-- Start Fetatures -->
            <div class="feature-item featured-border3">
               <div class="feature-icon float-left">
                 <i class="lni-reload"></i>
               </div>
               <div class="feature-info float-left">
                 <h4>Gestion du courrier</h4>
                 <p>Mise à disposition, <br> réexpédition ou numérisation <br>choisissez votre option,<br> profitez d’une réexpédition<br> offerte dans toutes nos offres.</p>
               </div>
            </div>
            <!-- End Fetatures -->
          </div>
           <!-- End Col -->
          
         <!-- Start Col -->
          <div class="col-lg-6 col-md-6 col-xs-12 p-0">
             <!-- Start Fetatures -->
            <div class="feature-item">
               <div class="feature-icon float-left">
                 <i class="lni-support"></i>
               </div>
               <div class="feature-info float-left">
                 <h4>Assistance comptable</h4>
                 <p>En règle générale, la vocation principale <br> d’un assistant comptable en ligne consiste en<br>l’aide au comptable à distance pour les<br>tâches énoncées précédemment.<br></p>
               </div>
            </div>
            <!-- End Fetatures -->
          </div>
           <!-- End Col -->
          

        </div>
        <!-- End Row -->
      </div>
    </section>

    <!-- ======= Cta Section ======= -->
    <section id="cta" class="cta">
      <div class="container" data-aos="zoom-in">

        <div class="row">
          <div class="col-lg-9 text-center text-lg-start">
            <h3>Vous savez tout !</h3>
            <p> Votre adresse de domiciliation vous tend les bras.</p>
          </div>
          <div class="col-lg-3 cta-btn-container text-center">
            <a class="cta-btn align-middle" href="Inscription" >Domicilier mon Entreprise</a>
          </div>
        </div>

      </div>
    </section><!-- End Cta Section -->

    
  <!-- Blog Section -->
  <section id="blog" class="section">
    <!-- Container Starts -->
    <div class="container">
      <!-- Start Row -->
      <div class="row">
        <div class="col-lg-12">
          <div class="blog-text section-header text-center">  
            <div>   
              <h2 class="section-titlee">Derniers articles de blog</h2>
              <div class="desc-text">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do</p>  
                <p>eiusmod tempor incididunt ut labore et dolore.</p>
              </div>
            </div> 
          </div>
        </div>

      </div>
      <!-- End Row -->
      <!-- Start Row -->
      <div class="row">
        <!-- Start Col -->
        <div class="col-lg-4 col-md-6 col-xs-12 blog-item">
          <!-- Blog Item Starts -->
          <div class="blog-item-wrapper">
            <div class="blog-item-img">
              <a href="single-post.html">
                <img src="./assets/images/blog3.png" class="img-fluid" style="width:350px;height:232px" alt="">
              </a>             
            </div>
            <div class="blog-item-text"> 
              <h3><a href="single-post.html">Comment créer une SARL  <br>(Société à Responsabilité Limitée) en Tunisie ? </a></h3>
              <a href="" class="read-moree">5 Min read</a>
            </div>
            <div class="author">
              <span class="name"><i class="lni-user"></i><a href="#">Posté par l'Admin</a></span>
              <span class="date float-right"><i class="lni-calendar"></i><a href="#">16 Mai, 2021</a></span>
            </div>
          </div>
          <!-- Blog Item Wrapper Ends-->
        </div>
        <!-- End Col -->
        <!-- Start Col -->
        <div class="col-lg-4 col-md-6 col-xs-12 blog-item">
          <!-- Blog Item Starts -->
          <div class="blog-item-wrapper">
            <div class="blog-item-img">
              <a href="single-post.html">
                <img src="./assets/images/blog1.jpg" class="img-fluid" style="width:350px;height:232px"alt="">
              </a>             
            </div>
            <div class="blog-item-text"> 
              <h3><a href="single-post.html">Pourquoi opter pour la domiciliation <br>d’entreprise en Tunisie ?</a></h3>
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry.</p>
              <a href="" class="read-moree">5 Min read</a>
            </div>
            <div class="author">
              <span class="name"><i class="lni-user"></i><a href="#">Posté par l'Admin</a></span>
              <span class="date float-right"><i class="lni-calendar"></i><a href="#">16 Mai, 2021</a></span>
            </div>
          </div>
          <!-- Blog Item Wrapper Ends-->
        </div>
        <!-- End Col -->
        <!-- Start Col -->
        <div class="col-lg-4 col-md-6 col-xs-12 blog-item">
          <!-- Blog Item Starts -->
          <div class="blog-item-wrapper">
            <div class="blog-item-img">
              <a href="single-post.html">
                <img src="./assets/images/blog2.png" class="img-fluid" style="width:350px;height:232px" alt="">
              </a>             
            </div>
            <div class="blog-item-text"> 
              <h3><a href="single-post.html">15 Jan Créer une société Offshore en Tunisie <br>ce n’est pas si compliqué ! </a></h3>
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry.</p>
              <a href="" class="read-moree">5 Min read</a>
            </div>
            <div class="author">
              <span class="name"><i class="lni-user"></i><a href="#">Posté par l'Admin</a></span>
              <span class="date float-right"><i class="lni-calendar"></i><a href="#">16 Mai, 2021</a></span>
            </div>
          </div>
          <!-- Blog Item Wrapper Ends-->
        </div>
        <!-- End Col -->

      </div>
      <!-- End Row -->
    </div>
  </section>
  <!-- blog Section End -->

     <!-- Our Pricing Plan Section Start -->
     <section id="pricing" class="section">
      <div class="container">
        <!-- Start Row -->
        <div class="row">
          <div class="col-lg-12">
            <div class="pricing-text section-header text-center">  
              <div class="section-title"> 
               <h2>Nos Packs</h2>  
               <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p> 
              </div>
            </div>
          </div>

        </div>
        <!-- End Row -->
        <!-- Start Row -->
        <div class="row pricing-tables">
         <!--  Start Col -->
          <div class="col-lg-4 col-md-4 col-xs-12">
            <div class="pricing-table text-center">
              <div class="pricing-details">
                <h3>Domisimple</h3>
                <h1><span></span>39 DT</h1>
                <ul>
                  <li>Domiciliation commerciale</li>
                      <li>Réception et tri du factures </li>
                      <li>Notification de courrier</li>
                      <li>Scan de l’enveloppe *</li>
                </ul>
              </div>
              <div class="plan-button">
                <a href="Inscription" class="btn btn-border">Choisir</a>
              </div>
            </div>
          </div>
           <!--  End Col -->
         <!--  Start Col -->
          <div class="col-lg-4 col-md-4 col-xs-12">
            <div class="pricing-table text-center">
              <div class="pricing-details">
                <h3>standard</h3>
                <h1><span></span>59 DT</h1>
                <ul>
                  <li>Domiciliation commerciale</li>
                      <li>Réception et tri du Factures </li>
                      <li>Notification de courrier</li>
                      <li>Scan de l’enveloppe</li>
                      <li>Réexpédition de factures (timbres inclus)</li>                 
                </ul>
              </div>
              <div class="plan-button">
                <a href="Inscription" class="btn btn-common">Choisir</a>
              </div>
            </div>
          </div>
           <!--  End Col -->
         <!--  Start Col -->
          <div class="col-lg-4 col-md-4 col-xs-12">
            <div class="pricing-table text-center">
              <div class="pricing-details">
                <h3>Business</h3>
                <h1><span></span>79 DT</h1>
                <ul>
                  <li>Domiciliation commerciale</li>
                      <li>Réception et tri du factures</li>
                      <li>Notification de factures</li>
                      <li>Scan de l’enveloppe</li>
                      <li>Scan du contenu</li>
                </ul>
              </div>
              <div class="plan-button">
                <a href="Inscription" class="btn btn-border">Choisir</a>
              </div>
            </div>
          </div>
           <!--  End Col -->

        </div>
        <!-- End Row -->
      </div>
    </section>
    <!-- Our Pricing Plan Section End --> 

    <!-- ======= Frequently Asked Questions Section ======= -->
    <section id="faq" class="faq section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Questions fréquemment posées</h2>
          <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
        </div>

        <div class="faq-list">
          <ul>
            <li data-aos="fade-up" data-aos-delay="100">
              <i class="bx bx-help-circle icon-help"></i> <a data-toggle="collapse" class="collapse" data-target="#faq-list-1">Qu’est-ce que la domiciliation en ligne ?  
                <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="faq-list-1" class="collapse show" data-bs-parent=".faq-list">
                <p>
                  Parmi les solutions proposées, la domiciliation en ligne auprès d’une société spécialisée permet de choisir une adresse prestigieuse, à un tarif avantageux, tout en bénéficiant de services annexes : gestion du courrier, permanence téléphonique, mise à disposition de salles de réunion.
                </p>
              </div>
            </li>

            <li data-aos="fade-up" data-aos-delay="200">
              <i class="bx bx-help-circle icon-help"></i> <a data-toggle="collapse" data-target="#faq-list-2" class="collapsed">Pourquoi choisir la domiciliation en ligne ?<i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="faq-list-2" class="collapse" data-bs-parent=".faq-list">
                <p>
                  La domiciliation en ligne est une solution simple, rapide et efficace pour domicilier sa société. Elle permet de faciliter les démarches administratives relatives à la création d’une entreprise, en dématérialisant les formalités liées à la domiciliation de votre entreprise.
                </p>
              </div>
            </li>

            <li data-aos="fade-up" data-aos-delay="300">
              <i class="bx bx-help-circle icon-help"></i> <a data-toggle="collapse" data-target="#faq-list-3" class="collapsed">Domiciliation en ligne : quels sont les avantages ? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="faq-list-3" class="collapse" data-bs-parent=".faq-list">
                <p>
                  Sans déplacement de la part du chef d’entreprise et à n’importe quelle heure de la journée, il est possible d’effectuer le nécessaire pour rendre la domiciliation effective. La domiciliation en ligne est donc un moyen flexible qui s’adapte aux contraintes de chacun.  En plus, les coûts sont relativement moins chers, ce qui représente un véritable avantage notamment au moment de la création de l’entreprise quand les dépenses sont le plus élevées.
                </p>
              </div>
            </li>    

          </ul>
        </div>

      </div>
    </section><!-- End Frequently Asked Questions Section -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Contact</h2>
          <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
        </div>

        <div class="row">

          <div class="col-lg-5 d-flex align-items-stretch">
            <div class="info">
              <div class="address">
                <i class="bi bi-geo-alt"></i>
                <h4>Location:</h4>
                <p>Mindup, Manar, Tunis</p>
              </div>

              <div class="email">
                <i class="bi bi-envelope"></i>
                <h4>Email:</h4>
                <p>MindUp@gmail.com</p>
              </div>

              <div class="phone">
                <i class="bi bi-phone"></i>
                <h4>Tel:</h4>
                <p>+216 55 555 555</p>
              </div>

              <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12097.433213460943!2d-74.0062269!3d40.7101282!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb89d1fe6bc499443!2sDowntown+Conference+Center!5e0!3m2!1smk!2sbg!4v1539943755621" frameborder="0" style="border:0; width: 100%; height: 290px;" allowfullscreen></iframe>
            </div>

          </div>

          <div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch">
            <form action="forms/contact.php" method="post" role="form" class="php-email-form">
              <div class="row">
                <div class="form-group col-md-6">
                  <label for="name">Votre Nom</label>
                  <input type="text" name="name" class="form-control" id="name" required>
                </div>
                <div class="form-group col-md-6">
                  <label for="name">Votre Email</label>
                  <input type="email" class="form-control" name="email" id="email" required>
                </div>
              </div>
              <div class="form-group">
                <label for="name">Sujet</label>
                <input type="text" class="form-control" name="subject" id="subject" required>
              </div>
              <div class="form-group">
                <label for="name">Message</label>
                <textarea class="form-control" name="message" rows="10" required></textarea>
              </div>
              <div class="my-3">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">Your message has been sent. Thank you!</div>
              </div>
              <div class="text-center"><button type="submit">Envoyer</button></div>
            </form>
          </div>

        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">

    <div class="footer-newsletter">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-6">
            <h4>Join Our Newsletter</h4>
            <p>Tamen quem nulla quae legam multos aute sint culpa legam noster magna</p>
            <form action="" method="post">
              <input type="email" name="email"><input type="submit" value="Subscribe">
            </form>
          </div>
        </div>
      </div>
    </div>

    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-contact">
            <h3>Kairus</h3>
            <p>
              MindUp, Rue de Majorique <br>
              Manar1,Tunis<br>
              Tunisie <br><br>
              <strong>Téléphone:</strong>+216 55 555 555 <br>
              <strong>Email:</strong> MindUp@gmail.com<br>
            </p>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Liens utiles</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Accueil</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">A propos de nous</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Services</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Our Services</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Domiciliation d'entreprise</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Creation d'entreprise</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Assistance comptable</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Assistance juridique</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Accompagnement</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Nos Reseaux Sociaux</h4>
            <div class="social-links mt-3">
              <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
              <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
              <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
              <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
            </div>
          </div>

        </div>
      </div>
    </div>
    

  </footer><!-- End Footer -->

  <a href="#" class="back-to-top">
    <i class="lni-chevron-down"></i>
  </a> 