<!-- ======= Header ======= -->
<header id="header" class="fixed-top ">
  <div class="container d-flex align-items-center">

    <img  style="width:200px;margin-right:100px;"src="assets/images/logo.png">
    <!-- Uncomment below if you prefer to use an image logo -->
    <!-- <a href="index.html" class="logo me-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

    <nav id="navbar" class="navbar navbar-expand-md">
      <ul>
        
        <li><a class="nav-link scrollto active" href="LandingPage">Accueil</a></li>
        <li class="dropdown"><a href="#"><span>Services</span> <i class="bi bi-chevron-down"></i></a>
          <ul>
            <li><a href="#">Domiciliation</a></li>
            
            <li><a href="#">Créeation d'entreprise</a></li>
            <li><a href="#">Accompagnement entrepreneurial</a></li>
            <li><a href="#">Assistance comptable</a></li>
          </ul>
        </li>
        <li><a class="nav-link   scrollto" routerLink='/info'>Informations légales</a></li>
        <li><a class="nav-link scrollto" href="Contactt">Contact</a></li>
        <li><a class="getstarted scrollto" href="#about" routerLink="/Inscription">Mon Compte</a></li>
      </ul>
      <i class="bi bi-list mobile-nav-toggle"></i>
    </nav><!-- .navbar -->

  </div>

  </header><!-- End Header -->
  <div class="main">
      <h1 class="titre" style='color:#311e40;'></h1>
      

  <div class='article-content'>
      <div class='article-body'>
          <div class='article__desc'>
          <p></p>
          <h1 class='article'>Conditions Générales de Vente et d'Utilisation</h1>
          <div class='article'>
              <img src="assets/images/tunisie.png" style='width:60px;height:50px;'>
           <div style='margin-top: 20px!important;'>
               <strong>
                Veuillez lire attentivement ces conditions générales de vente et d’utilisation avant d'utiliser les<br> services proposés par la sociéte Cairus sur son site internet accessible à l’adresse 
               <br>
            </strong>
            <a class='aa'>
                www.Cairus.com
               </a>
               <br>
               <br>
               <br>
               
               <strong>
                Ces conditions générales de vente et d’utilisation définissent les conditions et les obligations légales<br> liées à la souscription aux services proposes et fournis par la société Cairus depuis son site <br>internet accessible à l’adresse 
                <a class='aa'>
                    www.Cairus.com
                   </a>
                .  Toute utilisation et/ou recours aux services<br> proposés par la société aux utilisateurs impliquent l’acceptation sans réserves des présentes <br>  conditions générales de vente et d’utilisation, ce que l’utilisateur du site internet déclare et reconnaît <br>expressément. 
               </strong>
               <br>
               <br>
               <br>
               <br>
               <h2>
                   <strong>TITRE PRELIMINAIRE</strong>
                </h2>
                
            </div>
            <h4>
                
            </h4>
        </div>
        <div class='contentt'>
        <strong>
            1. Mentions légales
        </strong>
        <div style="margin-top:30px;">
            <strong>Site Internet</strong>&nbsp; : Site Internet accessible à l’adresse
             <a class='aa'>
                www.Cairus.com
               </a> (ci-après le « Site Internet » ou le <strong>« Site »</strong>).
        </div>

        <div style="margin-top:30px;">
            <strong>Editeur </strong>&nbsp; : Cairus, société par actions simplifiée, immatriculée au RCS de Tunis sous le numéro 55 555 555 (ci-après <strong>« Cairus »</strong>).
        </div>

        <div style="margin-top:30px;">
            <strong>Directeur de la Publication</strong>&nbsp; : Société MindUp, SAS à associé unique immatriculée au RCS de Tunis sous le numéro 55 555 555, représentée par Madame Bassma Yaakoubi.
        </div>

        <div style="margin-top:30px;">
            <strong>Contact support clients</strong>&nbsp; : Formulaire « Nous contacter » sur la page <span style="color: #0c4584;">https://faq Cairus.com/</span>.
        </div>
    </div>

    <div class='contentt'>
<strong style="margin-top:30px;">
            1. Définitions
        </strong>
        <span style="line-height: 1.6;
        word-wrap: break-word;margin-top:30px;">
            Dans les présentes Conditions Générales de Vente et d’Utilisation, il est convenu que les expressions ou mots suivants, qu’ils soient employés au singulier ou au pluriel, auront la signification suivante chaque fois que leur première lettre sera en majuscule : 
        </span>
        <strong  style="margin-top:30px;">
            « Abonnement » :
           
            <span style="margin-top:30px;"> désigne le moyen de souscription par l’Utilisateur aux Services de Cairus, hors Option, tels que décrits à l’article 5 des CGVU, pour la durée choisie par l’Utilisateur renouvelable par tacite reconduction dans les conditions de l’article 10.2.
            </span>
            </strong>

            <strong  style="margin-top:30px;">
                « Article » :
               
                <span style="margin-top:30px;"> désigne tout article des présentes CGVU.
                </span>
                </strong>

                <strong  style="margin-top:30px;">
                   « Charte des Données Personnelles » :
                   
                    <span style="margin-top:30px;"> désigne la charte de données personnelles de Cairus, établie spécifiquement pour les besoins des Services fournis par Cairus, faisant partie intégrante des présentes CGVU et jointe en Annexe 1.
                    </span>
                    </strong>

                    <strong  style="margin-top:30px;">
                        «  Société(s) de Domiciliation  » :
                     </strong>   
                         <span style="margin-top:30px;"> désigne la/les société(s) référencée(s) sur la Plateforme Cairus agréé(s) conformément aux dispositions des articles L.123-11 et suivants du Code de commerce, qui fourni(ssen)t le service de Domiciliation aux Utilisateurs.
                         </span>
                         
    

                
    </div>

          </div>
    </div>
  </div>


<!-- ======= Footer ======= -->
  <footer id="footer">

    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-contact">
            <h3> Cairus </h3>
            <p>
              MindUp, Rue de Majorique <br>
              Manar1,Tunis<br>
              Tunisie <br><br>
              <strong>Téléphone:</strong>+216 55 555 555 <br>
              <strong>Email:</strong> MindUp@gmail.com<br>
            </p>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Liens utiles</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Accueil</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">A propos de nous</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Services</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Our Services</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Domiciliation d'entreprise</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Creation d'entreprise</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Assistance comptable</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Assistance juridique</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Accompagnement</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Nos Reseaux Sociaux</h4>
            <div class="social-links mt-3">
              <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
              <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
              <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
              <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
            </div>
          </div>

        </div>
      </div>
    </div>
    

  </footer><!-- End Footer -->
  </div>