/* You can add global styles to this file, and also import other style files */
@import "../node_modules/angular-calendar/css/angular-calendar.css";
@import "https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css";
@import url(//db.onlinewebfonts.com/c/2148ed90570c0dd002f4e905de92dc46?family=Avenir+LT+Pro+55+Roman);
@import "../assets/vendor/aos/aos.css";
  @import "../assets/vendor/boxicons/css/boxicons.min.css";
  @import "../assets/vendor/glightbox/css/glightbox.min.css";
  @import "../assets/vendor/remixicon/remixicon.css";
  @import "../assets/css/style.css";
  @import"../assets/vendor/bootstrap-icons/bootstrap-icons.css";
  @import "../assets/css/LineIcons.css";

  
html, body { height: 100%; }
body {width:1350px;
  


     font-family: Roboto, "Helvetica Neue", sans-serif; }
      @font-face {font-family: "Avenir LT Pro"; src: url("//db.onlinewebfonts.com/t/d1bfb85795ca505281f9cee67b285c9a.eot"); 
          src: url("//db.onlinewebfonts.com/t/d1bfb85795ca505281f9cee67b285c9a.eot?#iefix") format("embedded-opentype"), 
          url("//db.onlinewebfonts.com/t/d1bfb85795ca505281f9cee67b285c9a.woff2") format("woff2"),
          url("//db.onlinewebfonts.com/t/d1bfb85795ca505281f9cee67b285c9a.woff") format("woff"),
          url("//db.onlinewebfonts.com/t/d1bfb85795ca505281f9cee67b285c9a.ttf") format("truetype"),
          url("//db.onlinewebfonts.com/t/d1bfb85795ca505281f9cee67b285c9a.svg#Avenir LT Pro") format("svg"); } 

@font-face {
     font-family: "AvenirLTProBlackOblique";
     font-family: "AvenirLTProRoman";
     font-family:"OpenSans-Regular";
     src: local("AvenirLTProBlackOblique"), url(./assets/fonts/AvenirLTProBlackOblique.woff) format("truetype");
     src: local("AvenirLTProRoman"), url(./assets/fonts/AvenirLTProRoman.woff) format("truetype");
     src: local("AvenirLTProBlackOblique"), url(./assets/fonts/OpenSans-Regular.ttf) format("truetype");
 }